
.carousel.sale {
  display: block;
  -webkit-transform: translateZ(0);
  /*  for demo only */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 250px;
  margin: auto;
  font-size: 0;
  background: #8FCECC;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0 4px 10px #000;
  /********************/
  height: 250px;
  -webkit-overflow-scrolling: touch;
  /* for tablets */
}
.touch .carousel .sale {
  overflow: auto;
}
.carousel .sale:before, .carousel .sale:after {
  content: '';
  opacity: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 50px;
  font-size: 80px;
  line-height: 250px;
  font-family: arial;
  color: #555;
  font-weight: bold;
  pointer-events: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.carousel .sale:before {
  content: '\2039';
  left: 0;
  text-align: left;
  text-indent: -20px;
  box-shadow: 50px 0 20px -20px #292B2C inset;
}
.carousel .sale:after {
  content: '\203A';
  right: 0;
  text-align: right;
  text-indent: 40px;
  box-shadow: -50px 0 20px -20px #292B2C inset;
}
.carousel.sale.right:after, .carousel.sale.left:before {
  opacity: 1;
}
.carousel.sale.right:after {
  right: 0;
  text-indent: 60px;
}
.carousel.sale.left:before {
  left: 0;
  text-indent: -40px;
}
.carousel.sale > a {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  color: #CCC;
  font-size: 1.5em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.carousel.sale > a:hover {
  color: #FFF;
}
.carousel.sale > a.prev {
  left: -20px;
}
.carousel.sale > a.next {
  right: -20px;
}
.carousel.sale > .indicator {
  pointer-events: none;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  background: #D82B6A;
  height: 4px;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.2s, bottom 0.2s;
  transition: opacity 0.2s, bottom 0.2s;
}
.carousel.sale:hover > .indicator {
  opacity: 1;
  bottom: -10px;
}
.carousel.sale > .wrap {
  overflow: hidden;
  border-radius: 5px;
}
.carousel.sale > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: 250px;
}
.carousel.sale > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 5px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.carousel.sale > .wrap > ul > li:first-child {
  margin: 0;
}
.carousel.sale > .wrap > ul > li > img {
  display: block;
  height: 100%;
  margin: auto;
  vertical-align: bottom;
  position: relative;
  z-index: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
