.price{
    color: red;
    font: 15pt italic;
    font-weight: 600;
}
/*megamenu*/
.megamenu{
  font: 12pt Georgia; 
  letter-spacing: 0.8px;
  text-shadow: 1px 1px 2px rgba(0, 55, 60, 0.5);  
}
/*navbar*/
.navlink{
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.navmenu{
    
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/*footer*/
#footer{
  margin-bottom: -150px;
  clear: both;
}

.ui-growl {
  right:40px;
  top: 50px;
}

.tomottoWrap-footer{
  font: 12pt Georgia;
  position: relative;
  background: #3CA2A2;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  line-height: 36px;
  margin: auto;
}

.tomotto{
  text-align: center;
  width: 960px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  line-height: 36px;
  margin: auto;
}

.lookWrap-footer{
  position: relative; 
  background-color: #215A6D;
  float: left;
  width: 100%;
}
#look{
  margin: auto;
  width: 700px;
}

.section-footer{
  overflow: hidden;
  float: left;
  display: inline;
  width: 160px;
  margin: 0 15px 15px 0;
  font: 10pt verdana;
  line-height: 1.6em;
}

.section-h3{
  font-weight: normal;
  font: 12pt Georgia;
  text-transform: uppercase;
  color: #f2f2f2;
}

.section-a{
  
  display: block;
  color: #f2f2f2;
  text-decoration: none;
}
 .section-a:hover {
    color: #add; 
    text-decoration: none; 
   }

.legality-footer{
  margin: auto;
  width: 700px;
  text-align: center;
  clear: both;
  font: 10pt verdana;
  line-height: 2em;
}

/*animated button */
.wrapper-x {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17vh;
  overflow: hidden;  font-size: 20px;
}
.btn-x {
  border: 5px solid #2c3e50;  
  color: #2c3e50;
  display: block;
  font-family: 'trebuchet ms';
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-x::before {
  content: "";
  background-color: #E26A6A;
  box-shadow: 10px 10px 0 #F1C40F, 
              20px 20px 0 #3498DB;
  position: absolute;
  left: 0.25rem;
  top: 0.5rem;
  height: 102%;
  width: 102%;
  z-index: -1;
  transition: all 0.5s ease;
}
.btn-x:hover {
   text-decoration: none;
}

.btn-x:hover::before {
  box-shadow: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.center {
    display:block;
    text-align:center; 
    margin:0 auto
}
/*review Stars and form*/
.cont{
  width: 93%;
  max-width: 450px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #E1FFE0;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}
div.stars{
  width: 350px;
  display: inline-block;
}




